<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Week 4 Assessment</title>
    <script src="vendors/jquery-3.0.0.js" charset="utf-8"></script>
    <script src="scripts/script.js" charset="utf-8"></script>
  </head>
  <body>
    <h2>Week 4 Assessment</h2>
    <input id='animalIn' type="tex" name="name" value="" placeholder="enter animal here">
    <button id='animalSubmit' type="button" name="button">Submit Animal</button><br>
    <div id="outputDiv">

    </div>

  </body>
</html>
